*{
    color: white;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
}

/* Navbar Stylings */
#nav-bar{
    background-color: #0d0d26;
}

.logo-title{
/*    color: #4ddbff; */
    font-size: 44px;
    font-weight: 550;
    font-style: italic;
    text-shadow: none;
    text-align: center;
    padding-left: 5px;
}

/* Banner Stylings */
#banner{
    background-color: #0d0d26;
    margin-top: -15px;      /* To reduce the screen size of banner */
}

.banner-head{
    margin-top: 75px;
    margin-left: 145px;
}

.banner-head .banner-point{
    font-size: 32px;
    font-weight: 400;
    margin-bottom: 30px;
}

.banner-subpoints{
    font-size: 22px;
    font-weight: 300;
    font-style: italic;
    margin-left: 5px;
}

.lg-banner{
    height: 400px;
    width: 400px;
}