*{
    color: #0d0d26;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
}

/* Navbar Stylings */
#nav-bar{
    background-color: #0d0d26;
}

.logo-title{
/*    color: #4ddbff; */
    color: white;
    font-size: 44px;
    font-weight: 550;
    font-style: italic;
    text-shadow: none;
    text-align: center;
    padding-left: 5px;
}

/* Banner Stylings */
#banner{
    background-color: #0d0d26;
    margin-top: -15px;      /* To reduce the screen size of banner */
}

.banner-head{
    margin-top: 75px;
    margin-left: 145px;
}

.banner-head .banner-point{
    color: white;
    font-size: 32px;
    font-weight: 450;
    margin-bottom: 30px;
}

i{
    color: white;
    font-size: 20px;
}

.banner-subpoints a{
    margin-left: 15px;
    color: white;
    font-size: 22px;
    font-weight: 300;
    font-style: italic;
    text-decoration: none;
    display: inline-block;
}

.banner-subpoints a:hover{
    transform: scale(1.2);
}

.lg-banner{
    height: 400px;
    width: 400px;
}

.wave-pattern{
    margin-top: -50px;      /* To reduce the screen size of banner */
    margin-bottom: -5px;
}

/* CRYPTO CARDS */

#content-crypto-cards{
    background-color: white;
}

.title{
    margin-top: 25px;
    text-align: center;
}

.title::before{
    content: "";
    background-color: #0d0d26;
    height: 5px;
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    transform: translateY(60px);
}

.title::after{
    content: "";
    background-color: #0d0d26;
    height: 15px;
    width: 75px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    transform: translateY(12px);
}

/* Crypto-cards-stylings */
.card{
    margin: 50px auto;
    width: 20%;
}

.card-header{
    padding-top: 25px;
}

.card-title{
    display: inline;
}

.card-price{
    float: right;
}

.card-body{
    padding: 10px 20px;
}

td.text{
    float: left;
    padding-top: 5px;
}

td.value{
    margin-right: -150px;
    float: right;
    padding-top: 5px;
}

.card-footer{
    padding: 15px;
}