<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="utf-8">
        <title>CRYPTOCOINS</title>
        <link href="{{ url_for('static', filename='images/logo_cryptocoins.png') }}" rel="icon">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css" rel="stylesheet">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" rel="stylesheet"></script>
        <link href="https://fonts.googleapis.com" rel="preconnect">
        <link href="https://fonts.gstatic.com" rel="preconnect" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500&display=swap" rel="stylesheet">
        <link href="{{ url_for('static', filename='styles.css') }}" rel="stylesheet">
    </head>

    <body>
        <!--<h3 id="head-title">Hello World</h3>-->

        <!------------------NAVBAR-------------------->
        <section id="nav-bar" class="container-fluid">
            <nav class="navbar navbar-light">
                <a class="navbar-brand" href="#">
                    <span class="logo-title">CryptoCoins</span>
                </a>
            </nav>
        </section>

        <!------------------BANNER-------------------->
        <section id="banner">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-6">
                        <div class="banner-head">
                            <p class="banner-point">Track Cryptocurrency</p>
                            <i class="bi bi-caret-right-fill banner-subpoints"><a href="#">Top 12 by MCAP</a></p></i>
                            <i class="bi bi-caret-right-fill banner-subpoints"><a href="#">Live Prices</a></p></i>
                            <i class="bi bi-caret-right-fill banner-subpoints"><a href="#">24 x 7 available</a></p></i>
                            <i class="bi bi-caret-right-fill banner-subpoints"><a href="#">Real-time Data</a></p></i>
                        </div>
                    </div>
                    <div class="col-md-6 text-center">
                        <img src="{{ url_for('static', filename='images/banner_1_main.png') }}" class="lg-banner img-fluid">
                    </div>
                </div>
            </div>
            <img src="{{ url_for('static', filename='images/wave1.png') }}" class="wave-pattern img-fluid">
        </section>

        <!------------------CRYPTO CARDS-------------------->
        <section id="content-crypto-cards">
            <div class="container-fluid">
                <div class="row">
                    <h2 class="title">Cryptocurrency Prices by Market Cap</h2>
                    <div class="col-lg-3 card-content">
                        <div class="card shadow rounded">
                            <div class="card-header bg-white">
                                <h2 class="card-title">Bitcoin</h2>
                                <h4 class="card-price">20,000</h4>
                                <h6 class="card-volume text-secondary">Volume: 265789456</h6>
                            </div>
                            <div class="card-body">
                                <table class="crypto-table-content">
                                    <tbody>
                                        <tr class="change-1hr">
                                            <td class="text">1-HR Change</td>
                                            <td class="value">+1.2%</td>
                                        </tr>
                                        <tr class="days-low">
                                            <td class="text">Day's Low</td>
                                            <td class="value">19,780</td>
                                        </tr>
                                        <tr class="days-high">
                                            <td class="text">Day's High</td>
                                            <td class="value">20,280</td>
                                        </tr>
                                        <tr class="atl">
                                            <td class="text">ATL</td>
                                            <td class="value">80</td>
                                        </tr>
                                        <tr class="ath">
                                            <td class="text">ATH</td>
                                            <td class="value">60,780</td>
                                        </tr>
                                        <tr class="mcap">
                                            <td class="text">MCap</td>
                                            <td class="value">4579963</td>
                                        </tr>
                                        <tr class="toatal-supply">
                                            <td class="text">Total Supply</td>
                                            <td class="value">4567895263</td>
                                        </tr>
                                        <tr class="ytd-change">
                                            <td class="text">YTD Change</td>
                                            <td class="value">+6000%</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="card-footer bg-white">
                                <a class="btn rounded-pill border-top-0" href="#">Details</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 card-content">
                        <div class="card shadow rounded"></div>
                    </div>
                    <div class="col-lg-3 card-content">
                        <div class="card shadow rounded"></div>
                    </div>
                    <div class="col-lg-3 card-content">
                        <div class="card shadow rounded"></div>
                    </div>
                </div>
            </div>
        </section>

    </body>

</html>