<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="utf-8">
        <title>CRYPTOCOINS</title>
        <link href="../images/logo_cryptocoins.png" rel="icon">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css" rel="stylesheet">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" rel="stylesheet"></script>
        <link href="https://fonts.googleapis.com" rel="preconnect">
        <link href="https://fonts.gstatic.com" rel="preconnect" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500&display=swap" rel="stylesheet">
        <link href="../static/styles.css" rel="stylesheet">
    </head>

    <body>
        <!--<h3 id="head-title">Hello World</h3>-->

        <!------------------NAVBAR-------------------->
        <section id="nav-bar" class="container-fluid">
            <nav class="navbar navbar-light">
                <a class="navbar-brand" href="#">
                    <span class="logo-title">CryptoCoins</span>
                </a>
            </nav>
        </section>

        <!------------------BANNER-------------------->
        <section id="banner">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-6">
                        <div class="banner-head">
                            <p class="banner-point">Track Cryptocurrency</p>
                            <i class="bi bi-caret-right-fill banner-subpoints"><a href="#">Top 12 by MCAP</a></p></i>
                            <i class="bi bi-caret-right-fill banner-subpoints"><a href="#">Live Prices</a></p></i>
                            <i class="bi bi-caret-right-fill banner-subpoints"><a href="#">24 x 7 available</a></p></i>
                            <i class="bi bi-caret-right-fill banner-subpoints"><a href="#">Real-time Data</a></p></i>
                        </div>
                    </div>
                    <div class="col-md-6 text-center">
                        <img src="../images/banner_1_main.png" class="lg-banner img-fluid">
                    </div>
                </div>
            </div>
            <img src="../images/wave1.png" class="wave-pattern img-fluid">
        </section>
    </body>

</html>